*.iml
*.iml
.idea/misc.xml
.idea/workspace.xml
.idea/misc.xml
.idea/DjangoEcommerce.iml
.idea/workspace.xml
.idea/workspace.xml
user/__pycache__/__init__.cpython-35.pyc
user/__pycache__/views.cpython-35.pyc