{% extends "usuario_home.html" %}
{% load static %}
{% block usuario_conteudo %}
<div class="android-content mdl-layout__content">
    <div class="container">
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--8dp">
            <thead>
            <tr>
                <th class="mdl-data-table__cell--non-numeric">Game</th>
                <th>Quantidade</th>
                <th>Preço unitário</th>
                <th>Total</th>
                <th>Remover</th>
            </tr>
            </thead>
            <tbody>
            {% for g in user.getCart.getItens%}
            <tr>
                <td><a href="../../../detalhes/{{g.game.slug}}"><img src="{{g.game.card.url}}" alt="{{g.game.tittle}}"
                                                                     width="184" height="69"></a></td>
                <td>
                    <form action="../../../cart/change/{{g.game.slug}}" method="get">
                        <input name="quantidade" type="number" value="{{g.quantidade}}">
                    </form>
                </td>
                <td>R$: {{g.game.getValor|floatformat:2}}</td>
                <td>R$: {{g.getTotal|floatformat:2}}</td>
                <td><a href="../../../cart/del/{{g.game.slug}}"><i class="material-icons">remove_shopping_cart</i></a></td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Total R$: {{user.getCart.getTotal|floatformat:2}}</td>
                <td></td>
            </tr>
            <tr>
                <td><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                       href="http://localhost:8000/">
                    Finalizar Compra
                </a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
