{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="android-content mdl-layout__content">
    <a name="top"></a>
    <div class="container">
        <div class="android-card-container mdl-grid">
            <div class="col-md-3">
                <ul class="list-group">
                    <li class="list-group-item">Gêneros</li>
                    {% for g in generos %}
                    <li class="list-group-item"><a href="{{g.slug}}">{{g.title}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6" id="three-container">

                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="{% static 'images/testeimg2.jpg' %}" alt="erro">
                        </div>
                        {%for g in games %}
                        <div class="item">
                            <a href="/detalhes/{{g.slug}}/"><img src="{{g.image.url}}" alt="{{g.title}}"></a>
                        </div>
                        {%endfor%}
                    </div>


                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Anterior</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Próximo</span>
                    </a>
                </div>
            </div>

            <div class="col-md-3">

            </div>
        </div>

    </div>
    <div class="android-more-section">
        <div class="android-section-title mdl-typography--display-1-color-contrast">Games</div>
        <div class="android-card-container mdl-grid">
            {%for g in games%}
            <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
                <div class="mdl-card__media">
                    <img src="{{g.card.url}}">
                </div>
                <div class="mdl-card__title">
                    <h4 class="mdl-card__title-text">{{g.title}}</h4>
                </div>
                <div class="mdl-card__supporting-text">
                    <span class="mdl-typography--font-light mdl-typography--subhead">{{g.description|truncatewords:"20"}}</span>
                </div>
                <div class="mdl-card__actions">
                    <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="detalhes/{{g.slug}}">
                       Detalhes
                        <i class="material-icons">chevron_right</i>
                    </a>
                </div>
            </div>
            {%endfor%}
        </div>
        {% if games %}
          {% include "pagination.html" with page=games %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}
