{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="android-more-section">
    <div class="android-section-title mdl-typography--display-1-color-contrast">{{genero}}</div>
    <div class="android-card-container mdl-grid">
        {%for g in games %}
        <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
            <div class="mdl-card__media">
                <img src="{{g.card.url}}">
            </div>
            <div class="mdl-card__title">
                <h4 class="mdl-card__title-text">{{g.title}}</h4>
            </div>
            <div class="mdl-card__supporting-text">
                <span class="mdl-typography--font-light mdl-typography--subhead">{{g.description|truncatewords:"20"}}</span>
            </div>
            <div class="mdl-card__actions">
                <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
                   Ver Mais
                    <i class="material-icons">chevron_right</i>
                </a>
            </div>
        </div>
        {%empty%}
          <div class="android-section-title mdl-typography--display-1-color-contrast">
            <h3><i class="material-icons" style="font-size:48px;color:red;">cancel</i> Nenhum jogo desse gênero foi encontrado.</h3>
          </div>
        {%endfor%}
    </div>
{% endblock %}
