.carousel-inner {
    height: auto;    
}
.carousel-inner .item {
    max-width: 100%;
    max-height: 100%;
}

.demo-card-wide.mdl-card {
    width: 100%;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.carousel-control {
  top:45%;  
  width:auto;
  height:1em;
  background:transparent;  
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right  {  
  width:auto;
}

.right.carousel-control{
    right: 15px;
}

.left.carousel-control{
    left: 15px;
}

.carousel .item img{
    border-radius: 20px 20px;
}

.descricao{
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    height: auto;
}

.descricao h5{
    text-align: center;
}

.red{
    color: red;
}

.preco p{
    font-size: 1.8em;
}